.container {
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    padding-bottom: 50px;
    overflow: hidden;
}

.container section {
    grid-column-start: 2;
    grid-column-end: 14;
    height: max-content;
    margin-top: 80px;
}
 
.container section h2 {
    margin-left: 40px;
    font-weight: 500;
}

.samples {
    position: relative;
}

.samples>div>div {
    display: flex;
    column-gap: 30px;
    width: max-content;
    position: relative;
    transition: 0.3s;
}

.samples>div {
    overflow-x: hidden;
    margin: 0 60px;
}

.sample {
    width: calc((((100vw - 90px*2 - 10px) - (100vw/14) * 2)/3));
    height: calc(((100vw - 90px*2) - (100vw/14) * 4)/3); 
    position: relative;
}

.sample>a,
.sample>div {
    position: absolute;
    width: 100%;
    height: 100%;
}

.sample>a {
    overflow: hidden;
}
.sample>a img {
    position: absolute;
    height: 100%;
    width: auto;
    top: 50%;  
    left: 50%;
    transform: translate(-50%, -50%);
}

.sample>div {
    background-image: linear-gradient(to top, white 0%, transparent 40%);
    border-bottom: 1px solid black;
}

.samples button {
    position: absolute;
    z-index: 10;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    top: 50%;
}

.samples button svg {
    height: 80px;
}

.left {
    left: 0%;
    transform: translateX(-50%) translateY(-50%) ;
}

.right {
    right: 0%;
    transform: translateX(50%) translateY(-50%) ;
}

.studyCase>div {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    row-gap: 30px;
}

.studyCase>div>.imgs {
    grid-column-start: 1;
    grid-column-end: 10 span;
    height: 300px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* align-items: center; */
}

.studyCase>div>.imgs img {
    width: 90%;
    height: auto;
    
}

.one {
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: center;
    align-self:self-start;
}
.two {
    grid-column-start: 2;
    justify-self: center;
    align-self: self-end;
}

.studyCase>div>.content {
    grid-column-start: 2;
    grid-column-end: 10;
}

.contact h2 {
    margin-left: 0 !important;
}
.contact h3 {
    font-weight: 500;
    text-decoration: underline;
}
.contact svg {
    width: 70px;
    margin-left: 5px;
}

.contact>a {
    width: max-content;
    display: flex;
    align-items: center;
}


@media screen and (max-width: 912px) {
    .sample {
        width: calc((((100vw - 90px*2) - (100vw/14) * 2)/2));
        height: calc(((100vw - 90px*2) - (100vw/14) * 4)/2); 
    }

    .samples>div {
        padding: 0 15px;
    }
}

@media screen and (max-width: 600px) {
    .container h2 {
        margin-left: 0 !important;
        font-size: 1.3em;
    }

    .samples button svg {
        height: 60px;
    }

    .sample {
        width: calc((((100vw - 60px*2) - (100vw/14) * 2)));
        height: calc(((100vw - 60px*2) - (100vw/14) * 4)); 
    }

    .samples>div {
        padding: 0 0;
    }

    .studyCase>div>.imgs {
        grid-template-rows: 50% 50%;
        grid-template-columns: none;
        height: max-content;
    }

    .studyCase>div>.imgs img {
        margin: 10px 0;
    }

    .one {
        grid-column-start: none;
        grid-column-end: none;
        grid-row-start: 1;
        grid-row-end: 2;
        justify-self: self-start;
    }

    .two {
        grid-column-start: none;
        grid-row-start: 2;
        justify-self: self-end;
    }
}